[user]
  name = Michael Belardo
  email = mbelardo1@gmail.com
[color]
  branch = auto
  diff = auto
  status = auto
  ui = auto
[core]
  editor = subl -n -w
[alias]
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  ch = checkout
  cm = commit
  cmm = commit -m
  br = branch
  st = status
  ad = add .
  mrg = merge
  pom = push origin master